@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
}

.topnav{
    background-color: black;
    display: flex;
    align-items: center;
    height: 3.9em;
    justify-content: space-between;
    width: 100%;
 }
 .topnav div{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
 }
  
 .topnav a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
 }
 .topnav a:hover{
    color:silver;
    cursor: pointer;
 }

 .topnav a.activeNav {
    color: #04AA6D;
 }
  
 .topnav button{
    color: #f2f2f2;
    margin-right: 3%;
 }
  
 .topnavLogo{
    color: #f2f2f2;
    margin-left: 2%;
    padding: 0.2%;
 }
  
 .topnavLogo:hover{
    cursor: pointer;
    background-color:azure;
    border-radius: 50%;
 }
  
 .topnav input[type=text] {
  border: none;
  font-size: 1.2em;
  margin-right: 2%;
  border-radius: 1em;
  text-indent: 2ch;
 }


 .mainContainer {
  display: flex;
  grid-template-columns: 30% 70%;
  justify-content: flex-start;
  margin-left: 8%;
  margin-right: 8%;
}
.currentBids_name {
  display: block;
  max-width: 280px;
  float: left;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: normal;
}
.currentBids_name:hover{
  display: block;
  max-width: 30%;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: normal;
  text-decoration: underline;
}
.currentBids_timeandprice {
  display: block;
  white-space: nowrap;
  color: black;
  text-align: center;
  font-size: 20px;
  margin: 0;
}
.currentBids_losingprice {
  display: block;
  white-space: nowrap;
  color: red;
  text-decoration: line-through;
  font-size: 20px;
  margin: 0;
}
.currentBids_price {
  display: block;
  white-space: nowrap;
  color: black;
  font-size: 20px;
}
.itemsContainer {
    width: 70%;
    float: right;
    position:relative;
}
.listContainer {
    margin-top: 10%;
    margin-bottom: 3%;
    display: grid;
    min-width: 50rem;
}
.listCard {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: flex-start;
    transition: 0.3s;
    gap: 30px;
    border-radius: 0.5em;
}
.listCard:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.listCardImage {
    width: 100%;
    border-radius: 0.5em;
    margin: 2%;
}
.listCardMiddle {
    width: 100%;
    flex-direction: column;
    grid-template-columns: 60%;
    /* background-color: pink; */
}
.listCardEnd {
    width: 100%;
    flex-direction: column;
}
.bidWatch {
  width: 70%;
  float: right;
  margin-right: 8%;
  margin-top: 3%
}
.bidWatch1 {
  width: 70%;
  justify-content: center;
  display:flex;
  margin-top: 1%;
  margin-bottom: 0%;
}
.bidWatch2{
  width: 70%;
  float: right;
  margin-right: 8%;
}
.bidWatch3{
  width: 70%;
  float: right;
  margin-top: 0%;
  display:flex;
  color: gray;
  position:relative;
}
.line {
  width:90%;
  /* text-align:left; */
  color: gray;
  background-color: gray;
  margin-top: 8%
}
