@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif !important;
}

.topnav{
    background-color: black;
    display: flex;
    align-items: center;
    height: 3.9em;
    justify-content: space-between;
    width: 100%;
    position: fixed;
 }
 .topnav div{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
 }
  
 .topnav a{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
 }
 .topnav a:hover{
    color:silver;
    cursor: pointer;
 }

 .topnav a.activeNav {
    color: #04AA6D;
 }
  
 .topnav button{
    color: #f2f2f2;
    margin-right: 3%;
 }
  
 .topnavLogo{
    color: #f2f2f2;
    margin-left: 2%;
    padding: 0.2%;
 }
  
 .topnavLogo:hover{
    cursor: pointer;
    background-color:azure;
    border-radius: 50%;
 }
  
 .topnav input[type=text] {
  border: none;
  font-size: 1.2em;
  margin-right: 2%;
  border-radius: 1em;
  text-indent: 2ch;
 }


.hovertext {
  position: relative;
  border-bottom: 1px dotted white;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}


/* CSS for the CATEGORY DROPDOWN */

.dropdown {
    background-color: rgb(255,255,255);
}

.dropdown a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  
  .dropdown a:hover, .dropdown-btn:hover {
    color: #cfcaca;
  }
  
  
  
  
  .active {
    background-color: rgb(23,172,109);
    color: white;
  }
  
  
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }


/* CSS for Buttons  */
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 9px;
  }
  
  .button:hover {background-color: #04aa6d5d}
  


  /*
  ---------------------
  */
  .button1 {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn btn-success btn-lg:hover {
    background-color: #04aa6d5d;
  }

  /* Colour Coding the form list */

  .col-sm-4{
    background-color: rgb(49,49,49);
  }

  .filter-code{
    background-color: white;
    border-radius: 10px;
  }

  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  
  .caret::before {
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  .nested label:hover{
      cursor: pointer;
  }
  
  .checkbox-container {
      display: block;
  }
  
  .active {
    display: block;
    background-color:  white;
    color: black;
  }
  
  #drop_zone {
    border: 5px solid blue;
    height: 25rem;

  }
